/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F9F9;
    color: #102A43;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    text-align: center; /* Centrer le texte de tout le corps */
}

header .nav-container {
    background-color: #3D5A80;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Styles pour la section hero */
.hero {
    background: #DBE2EF;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    border: 5px solid #3D5A80; /* Encadrement plus épais */
}

/* Styles pour les produits phares */
.featured-products {
    margin: 2rem auto; /* Centrage horizontal */
    padding: 2rem;
    background-color: #F8FAFC;
    border-radius: 15px;
    border: 5px solid #3D5A80; /* Encadrement plus épais */
}

.product-card {
    border: 1px solid #DDE7E7;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    display: inline-block; /* Centrage des cartes de produits */
    margin: 1rem;
    width: calc(50% - 4rem); /* Adaptation de la largeur pour le centrage */
    vertical-align: top; /* Aligner les cartes de produit correctement */
}

/* Styles pour les images de produits */
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Styles pour les prix */
.price {
    color: #E63946;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

/* Adaptations pour les mobiles */
@media (max-width: 768px) {
    .product-card {
        width: calc(100% - 2rem); /* Pleine largeur pour les écrans mobiles */
    }
}

/* Ajoutez d'autres styles personnalisés selon vos préférences */

